<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "meta.gohtml" . }}
    <title>Add Recording</title>
</head>
<body>

<div class="m-8">
    <a href="/">Back</a>
</div>

<div>
    {{ template "upload-recording.gohtml" . }}
</div>
</body>
</html>