<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "meta.gohtml" . }}
    <title>View Recording</title>
</head>
<body>
<header class="bg-white shadow-sm">
    <div class="container mx-auto p-4">
        <a href="/" class="text-lg text-blue-500 hover:text-blue-600 underline">&lt; go back</a>
    </div>
</header>

<div class="container mx-auto p-4">
    <div class="mb-12">
        <h1 class="text-2xl font-bold">Discovered Potholes</h1>
    </div>
    <span class="text-red-500">{{ .Error }}</span>

    <div class="flex mb-12 bg-white">
        <div class="flex-1 w-2/5">
            {{ template "recording-status.gohtml" . }}
            <div>
                <div class="text-lg font-semibold">Note</div>
                <div class="mr-2">{{ .Note }}</div>
            </div>
        </div>
        <div class="flex-1 w-3/5">
            <video controls hx-preserve>
                <source src="/videos/{{ .FileName }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>

    {{ if .DetectionBatches }}
        <div class="mb-12 w-2/3 mx-auto" id="motion-effect">
            <!-- Chart Container -->
            <div class="relative">
                <!-- Y-axis Label -->
                <div class="absolute bottom-1/2 left-0 transform translate-y-1/2 -translate-x-[50px] -rotate-90">
                    <span class="text-xs">Detections -></span>
                </div>
                <table
                    class="charts-css column show-heading show-labels show-primary-axis show-3-secondary-axes show-data-axes hide-data relative">
                    <caption>Detection distribution</caption>
                    <tbody>
                    {{ range .DetectionBatches }}
                        <tr>
                            <td style="--size: calc( {{ .NumberOfDetections }} / {{ .MaxBatchSize }} ); --color: lightgrey">
                                <span class="tooltip">Detections: {{ .NumberOfDetections }}</span>
                            </td>
                        </tr>
                    {{ end }}
                    </tbody>
                </table>
                <!-- X-axis Label -->
                <div class="absolute bottom-0 left-1/2 transform -translate-x-1/2 text-xs mt-2">
                    <span>Time -></span>
                </div>
            </div>
        </div>
    {{ end }}

    <div>
        {{ range .Detections }}
            <div class="flex mb-6 bg-white" id="detection-{{ .ID }}">
                <div class="flex-1 w-2/5">
                    <img src="/images/{{ .FileName }}" alt="Placeholder Image" class="max-w-full h-[250px] object-cover">
                </div>

                <div class="flex-1 w-3/5">
                    <div class="ml-6">
                        <div class="flex justify-between mb-6 items-baseline">
                            <div class="text-xl font-semibold">ID: {{ .ID }}</div>
                            <button class="px-2 py-1 bg-red-500 text-white rounded hover:bg-red-600 focus:outline-none"
                                    hx-delete="/detection/{{ .ID }}"
                                    hx-target="closest div#detection-{{ .ID }}"
                                    hx-swap="outerHTML"
                                    hx-confirm="Do you want to delete this Detection?">
                                Delete
                            </button>
                        </div>
                        <div>Confidence: {{ formatFloat (mul .Confidence 100) }}%</div>
                        <div>Frame: {{ .FrameNumber }}/{{ .TotalFrameNumber }}</div>
                        <div>Location: {{ .Latitude }}  {{ .Longitude }}</div>
                    </div>
                </div>
            </div>
        {{ else }}
            <div class="text-lg font-semibold text-center">No potholes detected</div>
        {{ end }}
    </div>
</div>

</body>
</html>